.container
{
    display: block;
    color: white;
    min-height: 200px;
    margin: 10px;
}
.div-flex
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
#blue
{
    background-color: blue;
    justify-content: center;
}
#red
{
    background-color: red;
}
#green
{
    background-color: green;
}
#yellow
{
    background-color: yellow;
}
#purple
{
    background-color: purple;
}